In [ ]:

people={
    "first":["hale","sara","maryam"],
    "last":["ghiasidalalian","ivarson","khan"],
    "email":["haleghiasi@gmail.com","henri@gmai.com","maryam@gmail.com"]
}

In [25]:
import pandas as pd
people={
    "first":["shadi","hassan","zara"],
    "last":["ghadi","iassan","zaran"],
    "email":["haleghiasi@gmail.com","henri@gmai.com","maryam@gmail.com"]
}

df=pd.DataFrame(people)
df

    first    last                 email
0   shadi   ghadi  haleghiasi@gmail.com
1  hassan  iassan        henri@gmai.com
2    zara   zaran      maryam@gmail.com