In [ ]:

people={
    "first":["hale","sara","maryam"],
    "last":["ghiasidalalian","ivarson","khan"],
    "email":["haleghiasi@gmail.com","henri@gmai.com","maryam@gmail.com"]
}

In [30]:
import pandas as pd
people={
    "first":["shadi","hassan","zara"],
    "last":["ghadi","iassan","zaran"],
    "email":["haleghiasi@gmail.com","henri@gmai.com","maryam@gmail.com"]
}

df=pd.DataFrame(people)
df

df[["email","first"]]

                  email   first
0  haleghiasi@gmail.com   shadi
1        henri@gmai.com  hassan
2      maryam@gmail.com    zara