In [14]:
import pandas as pd
people={
    "first":["shadi","hassan","zara"],
    "last":["ghadi","iassan","zaran"],
    "email":["haleghiasi@gmail.com","henri@gmai.com","maryam@gmail.com"]
}
df=pd.DataFrame(people)
df

    first    last                 email
0   shadi   ghadi  haleghiasi@gmail.com
1  hassan  iassan        henri@gmai.com
2    zara   zaran      maryam@gmail.com

In [3]:
df["email"]

0    haleghiasi@gmail.com
1          henri@gmai.com
2        maryam@gmail.com
Name: email, dtype: object

In [15]:
df.set_index("email",inplace = True)

In [9]:
df

                       first    last
email
haleghiasi@gmail.com   shadi   ghadi
henri@gmai.com        hassan  iassan
maryam@gmail.com        zara   zaran

In [10]:
df.index

Index(['haleghiasi@gmail.com', 'henri@gmai.com', 'maryam@gmail.com'], dtype='object', name='email')

In [ ]:
df.loc["haleghiasi@gmail.com"]

first    shadi
last     ghadi
Name: haleghiasi@gmail.com, dtype: object

In [18]:
df.reset_index(inplace=True)
df

                  email   first    last
0  haleghiasi@gmail.com   shadi   ghadi
1        henri@gmai.com  hassan  iassan
2      maryam@gmail.com    zara   zaran

In [23]:
df.sort_index(ascending=False)

                  email   first    last
2      maryam@gmail.com    zara   zaran
1        henri@gmai.com  hassan  iassan
0  haleghiasi@gmail.com   shadi   ghadi